<ion-view class=" " style="background-color: rgb(43, 93, 146);" id="page2" title="Drive to">
    <ion-content class="has-header" padding="true">
        <p class=" " style="color:#FFFFFF;font-size:16px;" id="driveTo-markdown1">
            <strong>Please write down where you want to go</strong>
        </p>
        <form class="list " id="driveTo-form3">
            <label style="" name="SearchLocationButton" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="" type="search">
            </label>
            <div class=" button-bar " id="driveTo-button-bar2">
                <button class=" button button-royal  button-block icon ion-android-car DriveButton" id="driveTo-button11"></button>
                <a class=" button button-royal  button-block icon ion-android-favorite " id="driveTo-button13" ui-sref="menu.favorites"></a>
            </div>
            <div style="width: 300px; height: 24px;" class="spacer"></div>
            <label name="LocationList" id="driveTo-select1" class="item item-select ">
                <span class="input-label">Found Locations</span>
                <select></select>
            </label>
        </form>
    </ion-content>
</ion-view>