<ion-view class=" " style="background-color: rgb(43, 93, 146);" id="page4" title="Favorites">
    <ion-content class="has-header" padding="true">
        <ion-list class=" FavoriteList" id="favorites-list2">
            <ion-item style="" href="tel:" id="favorites-list-item5" class="item-thumbnail-left royal  ">
                <h2royal>Place 1
                    <p>Jerusalem</p>
                </h2royal>
            </ion-item>
            <ion-item style="" id="favorites-list-item6" class="item-thumbnail-left royal  ">
                <h2royal>Place 2
                    <p>Tel Aviv</p>
                </h2royal>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>