

<ion-view style="background-color: transparent;" id="page3" title="Save Location">
    <style>
        .fixed-ratio-resize { /* basic responsive img */
            max-width: 100%;
            height: auto;
            width: auto\9; /* IE8 */
        }
    </style> 
       <ion-content class="has-header" padding="true" style="background-color: transparent;">
        <button class="button button-royal  button-block icon ion-camera" style="font-size:18px;" id="saveLocation-button14" ng-click="show()"></button>
           <img id="picprev" class="fixed-ratio-resize" />
       <div id="camprev" class="list card " style="background-color: transparent;">
            <div style="margin: 0px; line-height: 250px;  text-align: center; background-color: transparent;" ng-init="show()">
                <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
            </div>
        </div>
        <div class="button-bar" id="saveLocation-button-bar3">
            <button class="button button-royal  button-block icon ion-android-favorite " style="font-size:12px;" id="saveLocation-button8"></button>
            <button class="button button-royal  button-block icon ion-share " style="font-size:12px;" id="saveLocation-button10"></button>
        </div>
    </ion-content>
</ion-view>