<ion-view class=" " style="background-color: rgb(43, 93, 146);" id="page1" title="Where I Left My Car">
    <ion-content class="has-header" padding="true">
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
        </div>
        <div style="margin-right:-20px;">
            <a class=" button button-calm  button-full " style="left:-10px;font-style:italic;color:#FFFFFF;" id="whereILeftMyCar-button1" ui-sref="menu.driveTo">Take me to my destiny</a>
        </div>
        <div style="margin-right:-20px;">
            <a class=" button button-calm  button-full " style="left:-10px;font-style:italic;" id="whereILeftMyCar-button2" ui-sref="menu.saveLocation">Save the location</a>
        </div>
        <div style="margin-right:-20px;">
            <a class=" button button-calm  button-full " style="left:-10px;font-style:italic;" id="whereILeftMyCar-button3" ui-sref="menu.hereILeftMyCar">Where is my car</a>
        </div>
    </ion-content>
</ion-view>